body {
    margin: 0;
    background-color: #EDEAE6; /* Light background */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

canvas {
    border: none; /* Remove the dark border */
}

#tools {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#tools img {
    margin: 0 10px;
    cursor: pointer;
    padding: 8px; /* Consistent padding for all icons */
    border-radius: 0%; /* Make erase icon circular */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#tools img.selected {
    background-color: rgba(255, 255, 255, 1); /* White background for selected tool */
}

#tools img:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Light background on hover for all icons */
}

#erase-tool {
    border-radius: 50%; /* Ensure erase tool is circular */
}
